*{
    padding: 0;
    margin: 0;
    font-family: microsoft yahei!important;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .5s ease 0s;
    color: #333;

}
html, body{
    height: 100%;
    background: #f6f6f6;
}
a, a:active, a:hover{
    text-decoration: none!important;
    color: #999;
}
ul{
    margin-bottom: 0px !important;
}
input{
    outline: none;
    border: none;
}
input[disabled="disabled"]{
    background-color: #fff;
}
.wrapper{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;
}
 textarea{
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 7px 0 0 !important;
  border: 1px solid #eee;
  display: block;
  resize: none;
  color: #999;
  line-height: 1.96rem;
  outline: none;
  border-radius: 5px;
}
/*默认placeholder*/
::-moz-placeholder { color: #bbb; }
::-webkit-input-placeholder { color:#bbb; }
:-ms-input-placeholder { color:#bbb; }



/***********************************公共类**************************/
/*背景色*/
.bg-white{
    background-color: #fff !important;
}
.bg-grey{
    background-color: #ddd !important;
}
.bg-lgrey{
    background-color: #f6f6f6 !important;
}
.bg-main{
    background-color: #C43 !important;
}
.bg-orange{
    background-color: #f08519 !important;
}
.bg-blue{
    background-color: #12B8EC !important;
}
.bg-cyan{
    background-color: #3dc2b2 !important;
}
.bg-red{
    background-color: #e51e25 !important;
}

/*字体色*/
.c3{
    color: #333 !important;
}
.c6{
    color: #666 !important;
}
.c9{
    color: #999 !important;
}
.cc{
    color: #ccc !important;
}
.ca{
    color: #aaa !important;
}
.cd{
   color: #ddd !important; 
}
.ce{
   color: #eee !important; 
}
.cf{
    color: #fff !important;
}

/*字体颜色*/
.c-main{
    color: #DE9C2C !important;
}
.c-blue{
    color: #76b2fb !important;
}
.c-red{
    color: #C43 !important;
}
.c-orange{
    color: #f08519 !important;
}
.c-green{
    color: #67C23A !important;
}


/*定位*/
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.t0{
  top: 0;  
}
.b0{
  bottom: 0;  
}
.r0{
  right: 0;  
}
.l0{
  left: 0;  
}
.dis-in{
    display: inline-block;
}
.dis-b{
    display: block;
}
.dis-n{
    display: none !important;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (min-width: 1024px){
  html{
    font-size: 20px;
  }
 }
@media screen and (max-width: 768px){
  html{
    font-size: 20px;
  }
 }
@media screen and (max-width: 420px){
  html{
    font-size: 16px;
  }
}
@media screen and (max-width: 380px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 330px){
  html{
    font-size: 12px;
  }
}
/*字体大小*/
.fs0{
    font-size: 0;
}
.fs12{
    font-size: 12px!important;
}
.fs14{
    font-size: 14px!important;
}
.fs15{
    font-size: 15px!important;
}
.fs16{
    font-size: 16px!important;
}
.fs18{
    font-size: 18px !important;
}

.fs20{
    font-size: 20px !important;
}
.fs22{
    font-size: 22px !important;
}
.fs24{
    font-size: 24px !important;
}
.fs26{
    font-size: 26px!important;
}
/*边框*/
.border0{
    border:0 !important;
}
.b{
    border: 1px solid #ddd;
}
.bb{
    border-bottom: 1px solid #ddd;
}
.bt {
    border-top: 1px solid #f3f3f3;
}
.br{
    border-right: 1px solid #f3f3f3;
}
.bl{
    border-left: 1px solid #f3f3f3;
}
.b-r-4{
    border-radius: 4px;
}
.ofh{
    overflow: hidden;
}
.ta-c{
    text-align: center !important;
}
.ta-r{
    text-align: right !important;
}
.ta-l{
    text-align: left !important;
}
.va-t{
    vertical-align: top;
}
.va-b{
    vertical-align: bottom;
}
.va-base{
    vertical-align: baseline;
}

.fw-b{
    font-weight: bold;
}
.ti-20{
    text-indent: 1.111111rem;
}
.lh-0{
    line-height: 0 !important;
}
.lh-30{
    line-height: 1.666667rem !important;
}
.invisabiliy{
    visibility: hidden;
}
.hide{
    display: none !important;
}


/*flex布局*/
.dis-box{
    display: box;              /* OLD - Android 4.4- */  
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */  
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */  
    display: -ms-flexbox;      /* TWEENER - IE 10 */  
    display: -webkit-flex;     /* NEW - Chrome */  
    display: flex;  
    -webkit-box-align: center;
    -moz-box-align: center; 
    -ms-flex-align: center; 
    -webkit-align-items: center;
    align-items: center;
}
.flex-1{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;         /* OLD - Firefox 19- */  
    -webkit-flex: 1;          /* Chrome */  
    -ms-flex: 1;              /* IE 10 */  
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex-2 {
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 2;         /* OLD - Firefox 19- */  
    -webkit-flex: 2;          /* Chrome */  
    -ms-flex: 2;              /* IE 10 */  
    flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.dis-box.justify-content-end{
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
}
.dis-box.justify-content-center{
    justify-content: center;
    -ms-flex-pack: center;
}
.dis-box.justify-content-between{
    -webkit-justify-content:space-between;
    justify-content:space-between;
}
.dis-box.justify-content-around{
    -webkit-justify-content:space-around;
    justify-content:space-around;
}

.dis-box.flex-wrap{
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.dis-box.align-items-top{
    -webkit-box-align: start;
    -moz-box-align: start; 
    -ms-flex-align: start; 
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.dis-box.align-items-end{
    -webkit-box-align: end;
    -moz-box-align: end; 
    -ms-flex-align: end; 
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.dis-box.align-items-stretch{
    -webkit-box-align: stretch;
    -moz-box-align: stretch; 
    -ms-flex-align: stretch; 
    -webkit-align-items: stretch;
    align-items: stretch;
}

.dis-box.flex-direction-column{
    flex-direction: column;
    -ms-flex-direction: column;
}

/* 1-3行溢出隐藏 */
.overflow-line-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;     
    display: -webkit-box;     
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.overflow-line-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;     
    display: -webkit-box;   
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overflow-line-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;             
    display: -webkit-box;     
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* width*/
.w-full{
    width: 100% !important;
}
.h-full{
    height: 100% !important;
}
/* padding and margin  */
.pd-0{
    padding: 0 !important;
}
.pd-5{
    padding: 0.277778rem !important;
}
.pd-10{
    padding: 0.555556rem !important;
}
.pd-15{
    padding: 0.833333rem !important;
}
.pd-20{
    padding: 1.111111rem !important;
}
.pd-30{
    padding: 1.666667rem !important;
}
.pd-50{
    padding: 2.777778rem !important;
}
.pd-100{
    padding: 5.555556rem !important;
}
.pt-0{
    padding-top: 0rem !important;
}
.pt-5{
    padding-top: 0.277778rem !important;
}
.pt-10{
    padding-top: 0.555556rem !important;
}
.pt-20{
    padding-top: 1.111111rem !important;
}
.pt-30{
    padding-top: 1.666667rem !important;
}
.pt-40{
    padding-top: 2.222222rem !important;
}
.pt-50{
    padding-top: 2.777778rem !important;
}
.pt-80{
    padding-top: 4.444444rem !important;
}
.pt-100{
    padding-top: 5.555556rem !important;
}
.pl-0{
    padding-left: 0 !important;
}
.pl-5{
    padding-left: 0.277778rem !important;
}
.pl-10{
    padding-left: 0.555556rem !important;
}
.pl-15{
    padding-left: 0.833333rem !important;
}
.pl-20{
    padding-left: 1.111111rem !important;
}
.pl-30{
    padding-left: 1.666667rem !important;
}
.pl-40{
    padding-left: 2.222222rem !important;
}
.pl-50{
    padding-left: 2.777778rem !important;
}
.pl-60 {
    padding-left: 3.333333rem !important;
}
.pl-100{
    padding-left: 5.555556rem !important;
}
.pr-0{
    padding-right: 0 !important;
}
.pr-5{
    padding-right: 0.277778rem !important;
}
.pr-10{
    padding-right: 0.555556rem !important;
}
.pr-15{
    padding-right: 0.833333rem !important;
}
.pr-20{
    padding-right: 1.111111rem !important;
}
.pr-30{
    padding-right: 1.666667rem !important;
}
.pr-40{
    padding-right: 2.222222rem !important;
}
.pr-50{
    padding-right: 2.777778rem !important;
}
.pr-80{
    padding-right: 4.444444rem !important;
}
.pr-100{
    padding-right: 5.555556rem !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pb-5{
    padding-bottom: 0.277778rem !important;
}
.pb-10{
    padding-bottom: 0.555556rem !important;
}
.pb-20{
    padding-bottom: 1.111111rem !important;
}
.pb-30{
    padding-bottom: 1.666667rem !important;
}
.pb-50{
    padding-bottom: 2.777778rem !important;
}
.pb-80{
    padding-bottom: 4.444444rem !important;
}
.pb-100{
    padding-bottom: 5.555556rem !important;
}
.mt-0{
    margin-top: 0px !important;
}
.mt-5{
    margin-top: 0.277778rem !important;
}
.mt-10{
    margin-top: 0.555556rem !important;
}
.mt-20{
    margin-top: 1.111111rem !important;
}
.mt-30{
    margin-top: 1.666667rem !important;
}
.mt-40{
    margin-top: 2.222222rem !important;
}
.mt-50{
    margin-top: 2.777778rem !important;
}
.mt-100{
    margin-top: 5.555556rem !important;
}
.ml-10{
    margin-left: 0.555556rem !important;
}
.ml-20{
    margin-left: 1.111111rem !important;
}
.ml-30{
    margin-left: 1.666667rem !important;
}
.ml-50{
    margin-left: 2.777778rem !important;
}
.ml-100{
    margin-left: 5.555556rem !important;
}
.mr-10{
    margin-right: 0.555556rem !important;
}
.mr-20{
    margin-right: 1.111111rem !important;
}
.mr-30{
    margin-right: 1.666667rem !important;
}
.mr-50{
    margin-right: 2.777778rem !important;
}
.mr-100{
    margin-right: 5.555556rem !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mb-5{
    margin-bottom: 0.277778rem !important;
}
.mb-10{
    margin-bottom: 0.555556rem !important;
}
.mb-15{
    margin-bottom: 0.833333rem !important;
}
.mb-20{
    margin-bottom: 1.111111rem !important;
}
.mb-30{
    margin-bottom: 1.666667rem !important;
}
.mb-40{
    margin-bottom: 2.222222rem !important;
}
.mb-50{
    margin-bottom: 2.777778rem !important;
}
.mb-60{
    margin-bottom: 3.333333rem !important;
}
.mb-100{
    margin-bottom: 5.555556rem !important;
}
.plr-5{
    padding-left: 0.277778rem;
    padding-right: 0.277778rem;
}
.plr-10 {
    padding-left: 0.555556rem;
    padding-right: 0.555556rem;
}
.plr-15 {
    padding-left: 0.833333rem;
    padding-right: 0.833333rem;
}
.plr-20 {
    padding-left: 1.111111rem;
    padding-right: 1.111111rem;
}
.plr-30 {
    padding-left: 1.666667rem ;
    padding-right: 1.666667rem ;
}
.ptb-10{
    padding-top: 0.555556rem !important;
    padding-bottom: 0.555556rem !important;
}
.ptb-15{
    padding-top: 0.833333rem !important;
    padding-bottom: 0.833333rem !important;
}
.ptb-20{
    padding-top: 1.111111rem  !important;
    padding-bottom: 1.111111rem  !important;
}
/*分隔线*/
.gapline-v{
    position: relative;
}
.gapline-v:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: #fff;
}
/*.gapline-h{
*/
/* 1-3行溢出隐藏 */
.overflow-line-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.overflow-line-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overflow-line-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.whitespace-no{
    white-space: nowrap;
}
.has-header{
    padding-top: 2.444444rem;
}
.has-footer{
    padding-bottom: 2.444444rem;
}


/*按钮*/
.btn-yz{
    width: 6.666667rem;
    font-size:0.777778rem ;
    padding:0.277778rem 0.277778rem ;
}
.btn-block{
    display: block;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 12px;
    box-shadow: 2px 1px 1px #eee;
    color: #999;
    font-size: 0.777778rem;
    background: #f3f3f3
}
.btn-red{
    color: #fff;
    background-color: #ea5859;
}
.btn-cmain{
    color: #fff;
    background-color: #DE9C2C ;
}

/*打钩 多选*/
.item-check{
    border-radius: 50%;
}
.item-check.on{
    color: #3397e4 !important;
}
.fs-inta{
    font-style: italic;
}
.pointer{
    cursor: pointer;
}